
// Sidebar
$sidebar-width: 270px;
$sidebar-collapsed-width: 62px;
$sidebar-padding: 10px;

// Header
$header-height: 40px;
$header-padding: 10px;

// Colors
$color-white: #fff;
$color-black: #000;

$color-primary: #7158e2;
$color-secondary: #ff9f1a;

$color-light-grey: rgba($color-black, .7);

$color-danger: #ff3838;
$color-success: #3ae374;

$color-separator: #f3f3f3;