@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Fira+Sans+Extra+Condensed:ital,wght@0,700;1,700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,700;1,300;1,700&display=swap');


// Global
@import './variables';

// Utils
@import './utils/reset';
@import './utils/normalize';
@import './utils/streched-link';

// Layout
@import './layout/sidebar';
@import './layout/header';
@import './layout/content';
@import './layout/login';

// Components
@import './components/input';
@import './components/button';
@import './components/brand';
@import './components/page-title';

.text-center {
    display: flex;
    align-items: center;
    justify-content: center;
}