.App-header {
    height: $header-height;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: $sidebar-width;
    background-color: $color-white;
    overflow-x: hidden;
    padding: $header-padding;
    border-bottom: 1px solid #f3f3f3;
}